/* make text times new roman?*/

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

ul {
    list-style-type: none;
    display: inline;
}


.item2 {
width: 100%;
}

.navbar{
    padding-left: 50px
    background-color: lightgray;
}


.table {
  align-self: center;
}

form {
    

}


div {
    resize: both;
    overflow: auto;
}


.grid-container{
    
    
    
}


.header{
    align-self: auto;
    display: inline-flex;
    justify-content: space-between;
}




#stack{
    
    display: inline-block;
}

.table{
    
    max-width: 100%;
}


#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(8,79,221,1.0); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


#bluescreentext{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#ad1 {
    position: absolute;
    right: 20px;
    bottom: 400px;
    width: 200px;
    height: 200px;
}

#ad2 {
    position: absolute;
    right: 20px;
    bottom: 400px;
}

#ad3 {
    position: absolute;
    right: 20px;
    bottom: 400px;
}

#ad4 {
    position: absolute;
    right: 20px;
    bottom: 400px;
}